{{yield}}

<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    {{svg-jar @country class="country-flag"}}
                </div>
                <div class="col-sm">
                    <p class="amount">{{format-number @todaysAmount}}</p>
                    <span class="country">{{@country}}</span>
                </div>
                <div class="col-sm">
                    {{#if casesIncreasing}}
                        {{svg-jar "down" class="arrow-red"}}
                    {{else}}
                        {{svg-jar "down" class="arrow"}}
                    {{/if}}
                    {{percentageIncrease}}
                </div>
            </div>
        </div>
    </div>
</div>