<div class="container">
 <div class="row">
     <div class="col-md-6">
         <h2>Covid-19 update</h2>
     </div>
          <div class="col-md-6">
         <h4 class="country-text">{{svg-jar "Northern Ireland" class="country-flag"}}United Kingdom</h4>
     </div>
 </div>

   <div class="col-md-12">
       <hr>
         <h4 class="header">
            Weekly United Kingdom vaccination Update
        </h4>

        {{#if @model.vaccinatedData.firstObject}} 
        <h5>Last updated on: {{moment-format @model.vaccinatedData.firstObject.date 'MMMM Do YYYY'}}</h5>
        <h5>Total recieved first dose: {{format-number @model.vaccinatedData.firstObject.value}}</h5>
        <h5>≈{{percentage-calculator @model.vaccinatedData.firstObject.value}}% of population received first dose </h5>
        {{else}}
        <h5>The total data for today is not available yet</h5>
        {{/if}}
        <hr>
    </div>

   <div class="col-md-12">
        <h4 class="header">
            Daily Cases Update: United Kingdom
        </h4>
        <h5 class="subheader">{{moment-format @model.firstObject.date 'MMMM Do YYYY'}}</h5>
    </div>
    <div class="container card-container">
        <h4>Cases</h4>
<h5>Last updated {{moment-format @model.firstObject.date 'MMMM Do YYYY'}}</h5>
    {{#if model.theData.firstObject.today}}
    {{#each model.theData as |country|}}
    <DataCard @country={{country.countryName}} @todaysAmount={{country.today.newCasesByPublishDate}}
        @yesterdaysAmount={{country.yesterday.newCasesByPublishDate}} />
    <br>
    {{/each}}
    {{else}}
       <h5>Data for today is not available yet</h5>

    {{/if}}
    </div>
 

       <div class="col-md-12">
           <p>Data and API provided by: <a href="https://coronavirus.data.gov.uk/">coronavirus.data.gov.uk</a></p>
           <p>For latest health guidlines checkout: <a href="https://www.gov.uk/coronavirus">https://www.gov.uk/coronavirus</a></p>
           <p><div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div></p>
       </div>
</div>
{{outlet}}